<div class="container">
  <div class="row">
    <div class="col-mg-6 mx-auto">
      <div class="my-4">
        <h1><%= "My tasks" %></h1>

        <ul class= "list-group">
          <% @tasks.each do |task| %>
            <li>
              <% if task.completed? %>
                <i class="fa-regular fa-square-check"></i>
              <% else %>
                <i class="fa-regular fa-square"></i>
              <% end %>
              <%= link_to task.title, task_path(task.id) %>
            </li>
          <% end %>
        </ul>
        <div id="add">
        <%= link_to new_task_path do %>
        <i class="fa-solid fa-plus"></i> Add a new task
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
